# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
string analysis.py
Scool Study/8.py
Scool Study/7.py
Scool Study/6.py
Scool Study/5.py
Scool Study/4.py
Scool Study/3.py
Scool Study/2.py
Scool Study/1.py
